

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
  }
  
  .card {

    margin: 2% 2% !important;
 }
 .media {
    height: 0;
    padding-top : 56.25%
  }

  img{
    height: 100px;
    position: relative;
    align-items: center;
    display: flex;
    opacity: .7;
  }