.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
  }
  
  .card {

    margin: 0 2% !important;
 }
  
  .infected {
    border-bottom: 10px solid rgb(15, 8, 75);
  }
  
  .recovered{
    border-bottom: 10px solid rgb(56, 119, 128);
  }
  
  .deaths{
    border-bottom: 10px solid rgb(254, 0, 137);
  }
  
